KAGGLE_REAL_ESTATE_DATASETS=kanchana1990/wisconsin-real-estate-data-2026,kanchana1990/connecticut-real-estate-data-2026,kanchana1990/real-estate-data-oregon-2026,kanchana1990/new-york-real-estate-data-2026,kanchana1990/new-hampshire-real-estate-data-2026,kanchana1990/indiana-real-estate-data-2026,kanchana1990/kentucky-real-estate-data-2026,kanchana1990/colorado-real-estate-market-2026
